openapi: 3.0.1
info:
  title: API Reference
  description: "Review our [API Introduction](../api-introduction) to get started."
  contact: {}
  version: "1.0"
servers:
- url: https://api.turnkey.com/
security:
- ApiKeyAuth: []
- AuthenticatorAuth: []
tags:
- name: Organizations
  description: |-
    An Organization is the highest level of hierarchy in Turnkey. It can contain many Users, Private Keys, and Policies managed by a Root Quorum. The Root Quorum consists of a set of Users with a consensus threshold. This consensus threshold must be reached by Quorum members in order for any actions to take place.

    See [Root Quorum](../concepts/users/root-quorum) for more information
- name: Invitations
  description: |-
    Invitations allow you to invite Users into your Organization via email. Alternatively, Users can be added directly without an Invitation if their ApiKey or Authenticator credentials are known ahead of time.

    See [Users](./api#tag/Users) for more information
- name: Policies
  description: |-
    Policies allow for deep customization of the security of your Organization. They can be used to grant permissions or restrict usage of Users and Private Keys. The Policy Engine analyzes all of your Policies on each request to determine whether an Activity is allowed.

    See [Policy Overview](../managing-policies/overview) for more information
- name: Wallets
  description: |-
    Wallets contain collections of deterministically generated cryptographic public / private key pairs that share a common seed. Turnkey securely holds the common seed, but only you can access it. In most cases, Wallets should be preferred over Private Keys since they can be represented by a mnemonic phrase, used across a variety of cryptographic curves, and can derive many addresses.

    Derived addresses can be used to create digital signatures using the corresponding underlying private key. See [Signing](./api#tag/Signing) for more information
- name: Signing
  description: "Signers allow you to create digital signatures. Signatures are used\
    \ to validate the authenticity and integrity of a digital message. Turnkey makes\
    \ it easy to produce signatures by allowing you to sign with an address. If Turnkey\
    \ doesn't yet support an address format you need, you can generate and sign with\
    \ the public key instead by using the address format `ADDRESS_FORMAT_COMPRESSED`."
- name: Private Keys
  description: |-
    Private Keys are cryptographic public / private key pairs that can be used for cryptocurrency needs or more generalized encryption. Turnkey securely holds all private key materials for you, but only you can access them.

    The Private Key ID or any derived address can be used to create digital signatures. See [Signing](./api#tag/Signing) for more information
- name: Private Key Tags
  description: Private Key Tags allow you to easily group and permission Private Keys
    through Policies.
- name: Users
  description: "Users are responsible for any action taken within an Organization.\
    \ They can have ApiKey or Auuthenticator credentials, allowing you to onboard\
    \ teammates to the Organization, or create API-only Users to run as part of your\
    \ infrastructure."
- name: User Tags
  description: User Key Tags allow you to easily group and permission Users through
    Policies.
- name: Authenticators
  description: "Authenticators are WebAuthN hardware devices, such as a Macbook TouchID\
    \ or Yubikey, that can be used to authenticate requests."
- name: API Keys
  description: |-
    API Keys are used to authenticate requests

    See our [CLI](https://github.com/tkhq/tkcli) for instructions on generating API Keys
- name: Activities
  description: |-
    Activities encapsulate all the possible actions that can be taken with Turnkey. Some examples include adding a new user, creating a private key, and signing a transaction.

    Activities that modify your Organization are processed asynchronously. To confirm processing is complete and retrieve the Activity results, these activities must be polled until that status has been updated to a finalized state: `COMPLETED` when the activity is successful or `FAILED` when the activity has failed
- name: Consensus
  description: |-
    Policies can enforce consensus requirements for Activities. For example, adding a new user requires two admins to approve the request.

    Activities that have been proposed, but don't yet meet the Consesnsus requirements will have the status: `REQUIRES_CONSENSUS`. Activities in this state can be approved or rejected using the unique fingerprint generated when an Activity is created.
paths:
  /public/v1/query/get_activity:
    post:
      tags:
      - Activities
      summary: Get Activity
      description: Get details about an Activity
      operationId: GetActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetActivityRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_api_key:
    post:
      tags:
      - API keys
      summary: Get API key
      description: Get details about an API key
      operationId: GetApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetApiKeyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeyResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_api_keys:
    post:
      tags:
      - API keys
      summary: Get API keys
      description: Get details about API keys for a user
      operationId: GetApiKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetApiKeysRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeysResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_authenticator:
    post:
      tags:
      - Authenticators
      summary: Get Authenticator
      description: Get details about an authenticator
      operationId: GetAuthenticator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAuthenticatorRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthenticatorResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_authenticators:
    post:
      tags:
      - Authenticators
      summary: Get Authenticators
      description: Get details about authenticators for a user
      operationId: GetAuthenticators
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAuthenticatorsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthenticatorsResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_oauth_providers:
    post:
      tags:
      - User Auth
      summary: Get Oauth providers
      description: Get details about Oauth providers for a user
      operationId: GetOauthProviders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOauthProvidersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOauthProvidersResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_organization_configs:
    post:
      tags:
      - Organizations
      summary: Get Configs
      description: Get quorum settings and features for an organization
      operationId: GetOrganizationConfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrganizationConfigsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationConfigsResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_policy:
    post:
      tags:
      - Policies
      summary: Get Policy
      description: Get details about a Policy
      operationId: GetPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPolicyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPolicyResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_private_key:
    post:
      tags:
      - Private Keys
      summary: Get Private Key
      description: Get details about a Private Key
      operationId: GetPrivateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPrivateKeyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrivateKeyResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_user:
    post:
      tags:
      - Users
      summary: Get User
      description: Get details about a User
      operationId: GetUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUserRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_wallet:
    post:
      tags:
      - Wallets
      summary: Get Wallet
      description: Get details about a Wallet
      operationId: GetWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWalletRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletResponse'
      x-codegen-request-body-name: body
  /public/v1/query/get_wallet_account:
    post:
      tags:
      - Wallets
      summary: Get Wallet Account
      description: Get a single wallet account
      operationId: GetWalletAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWalletAccountRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletAccountResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_activities:
    post:
      tags:
      - Activities
      summary: List Activities
      description: List all Activities within an Organization
      operationId: GetActivities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetActivitiesRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivitiesResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_policies:
    post:
      tags:
      - Policies
      summary: List Policies
      description: List all Policies within an Organization
      operationId: GetPolicies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPoliciesRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPoliciesResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_private_key_tags:
    post:
      tags:
      - Private Key Tags
      summary: List Private Key Tags
      description: List all Private Key Tags within an Organization
      operationId: ListPrivateKeyTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPrivateKeyTagsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPrivateKeyTagsResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_private_keys:
    post:
      tags:
      - Private Keys
      summary: List Private Keys
      description: List all Private Keys within an Organization
      operationId: GetPrivateKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPrivateKeysRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrivateKeysResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_suborgs:
    post:
      tags:
      - Organizations
      summary: Get Suborgs
      description: Get all suborg IDs associated given a parent org ID and an optional
        filter.
      operationId: GetSubOrgIds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSubOrgIdsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubOrgIdsResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_user_tags:
    post:
      tags:
      - User Tags
      summary: List User Tags
      description: List all User Tags within an Organization
      operationId: ListUserTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUserTagsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserTagsResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_users:
    post:
      tags:
      - Users
      summary: List Users
      description: List all Users within an Organization
      operationId: GetUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUsersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_verified_suborgs:
    post:
      tags:
      - Organizations
      summary: Get Verified Suborgs
      description: Get all email or phone verified suborg IDs associated given a parent
        org ID.
      operationId: GetVerifiedSubOrgIds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetVerifiedSubOrgIdsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVerifiedSubOrgIdsResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_wallet_accounts:
    post:
      tags:
      - Wallets
      summary: List Wallets Accounts
      description: List all Accounts within a Wallet
      operationId: GetWalletAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWalletAccountsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletAccountsResponse'
      x-codegen-request-body-name: body
  /public/v1/query/list_wallets:
    post:
      tags:
      - Wallets
      summary: List Wallets
      description: List all Wallets within an Organization
      operationId: GetWallets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWalletsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletsResponse'
      x-codegen-request-body-name: body
  /public/v1/query/whoami:
    post:
      tags:
      - Sessions
      summary: Who am I?
      description: Get basic information about your current API or WebAuthN user and
        their organization. Affords Sub-Organization look ups via Parent Organization
        for WebAuthN or API key users.
      operationId: GetWhoami
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWhoamiRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWhoamiResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/approve_activity:
    post:
      tags:
      - Consensus
      summary: Approve Activity
      description: Approve an Activity
      operationId: ApproveActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveActivityRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_api_keys:
    post:
      tags:
      - API Keys
      summary: Create API Keys
      description: Add api keys to an existing User
      operationId: CreateApiKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeysRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_authenticators:
    post:
      tags:
      - Authenticators
      summary: Create Authenticators
      description: Create Authenticators to authenticate requests to Turnkey
      operationId: CreateAuthenticators
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthenticatorsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_invitations:
    post:
      tags:
      - Invitations
      summary: Create Invitations
      description: Create Invitations to join an existing Organization
      operationId: CreateInvitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvitationsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_oauth_providers:
    post:
      tags:
      - User Auth
      summary: Create Oauth Providers
      description: Creates Oauth providers for a specified user - BETA
      operationId: CreateOauthProviders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOauthProvidersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_policies:
    post:
      tags:
      - Policies
      summary: Create Policies
      description: Create new Policies
      operationId: CreatePolicies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePoliciesRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_policy:
    post:
      tags:
      - Policies
      summary: Create Policy
      description: Create a new Policy
      operationId: CreatePolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_private_key_tag:
    post:
      tags:
      - Private Key Tags
      summary: Create Private Key Tag
      description: Create a private key tag and add it to private keys.
      operationId: CreatePrivateKeyTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateKeyTagRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_private_keys:
    post:
      tags:
      - Private Keys
      summary: Create Private Keys
      description: Create new Private Keys
      operationId: CreatePrivateKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateKeysRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_read_only_session:
    post:
      tags:
      - Sessions
      summary: Create Read Only Session
      description: Create a read only session for a user (valid for 1 hour)
      operationId: CreateReadOnlySession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReadOnlySessionRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_read_write_session:
    post:
      tags:
      - Sessions
      summary: Create Read Write Session
      description: Create a read write session for a user
      operationId: CreateReadWriteSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReadWriteSessionRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_sub_organization:
    post:
      tags:
      - Organizations
      summary: Create Sub-Organization
      description: Create a new Sub-Organization
      operationId: CreateSubOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubOrganizationRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_user_tag:
    post:
      tags:
      - User Tags
      summary: Create User Tag
      description: Create a user tag and add it to users.
      operationId: CreateUserTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserTagRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_users:
    post:
      tags:
      - Users
      summary: Create Users
      description: Create Users in an existing Organization
      operationId: CreateUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUsersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_wallet:
    post:
      tags:
      - Wallets
      summary: Create Wallet
      description: Create a Wallet and derive addresses
      operationId: CreateWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/create_wallet_accounts:
    post:
      tags:
      - Wallets
      summary: Create Wallet Accounts
      description: Derive additional addresses using an existing wallet
      operationId: CreateWalletAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletAccountsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_api_keys:
    post:
      tags:
      - API Keys
      summary: Delete API Keys
      description: Remove api keys from a User
      operationId: DeleteApiKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteApiKeysRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_authenticators:
    post:
      tags:
      - Authenticators
      summary: Delete Authenticators
      description: Remove authenticators from a User
      operationId: DeleteAuthenticators
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAuthenticatorsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_invitation:
    post:
      tags:
      - Invitations
      summary: Delete Invitation
      description: Delete an existing Invitation
      operationId: DeleteInvitation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteInvitationRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_oauth_providers:
    post:
      tags:
      - User Auth
      summary: Delete Oauth Providers
      description: Removes Oauth providers for a specified user - BETA
      operationId: DeleteOauthProviders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOauthProvidersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_policy:
    post:
      tags:
      - Policies
      summary: Delete Policy
      description: Delete an existing Policy
      operationId: DeletePolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePolicyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_private_key_tags:
    post:
      tags:
      - Private Key Tags
      summary: Delete Private Key Tags
      description: Delete Private Key Tags within an Organization
      operationId: DeletePrivateKeyTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePrivateKeyTagsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_private_keys:
    post:
      tags:
      - Private Keys
      summary: Delete Private Keys
      description: Deletes private keys for an organization
      operationId: DeletePrivateKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePrivateKeysRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_sub_organization:
    post:
      tags:
      - Organizations
      summary: Delete Sub Organization
      description: Deletes a sub organization
      operationId: DeleteSubOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSubOrganizationRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_user_tags:
    post:
      tags:
      - User Tags
      summary: Delete User Tags
      description: Delete User Tags within an Organization
      operationId: DeleteUserTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUserTagsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_users:
    post:
      tags:
      - Users
      summary: Delete Users
      description: Delete Users within an Organization
      operationId: DeleteUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUsersRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/delete_wallets:
    post:
      tags:
      - Wallets
      summary: Delete Wallets
      description: Deletes wallets for an organization
      operationId: DeleteWallets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteWalletsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/email_auth:
    post:
      tags:
      - User Auth
      summary: Perform Email Auth
      description: Authenticate a user via Email
      operationId: EmailAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailAuthRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/export_private_key:
    post:
      tags:
      - Private Keys
      summary: Export Private Key
      description: Exports a Private Key
      operationId: ExportPrivateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportPrivateKeyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/export_wallet:
    post:
      tags:
      - Wallets
      summary: Export Wallet
      description: Exports a Wallet
      operationId: ExportWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportWalletRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/export_wallet_account:
    post:
      tags:
      - Wallets
      summary: Export Wallet Account
      description: Exports a Wallet Account
      operationId: ExportWalletAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportWalletAccountRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/import_private_key:
    post:
      tags:
      - Private Keys
      summary: Import Private Key
      description: Imports a private key
      operationId: ImportPrivateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportPrivateKeyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/import_wallet:
    post:
      tags:
      - Wallets
      summary: Import Wallet
      description: Imports a wallet
      operationId: ImportWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportWalletRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/init_import_private_key:
    post:
      tags:
      - Private Keys
      summary: Init Import Private Key
      description: Initializes a new private key import
      operationId: InitImportPrivateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitImportPrivateKeyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/init_import_wallet:
    post:
      tags:
      - Wallets
      summary: Init Import Wallet
      description: Initializes a new wallet import
      operationId: InitImportWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitImportWalletRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/init_otp:
    post:
      tags:
      - User Verification
      summary: Init Generic OTP
      description: Initiate a Generic OTP activity
      operationId: InitOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitOtpRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/init_otp_auth:
    post:
      tags:
      - User Auth
      summary: Init OTP auth
      description: Initiate an OTP auth activity
      operationId: InitOtpAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitOtpAuthRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/init_user_email_recovery:
    post:
      tags:
      - User Recovery
      summary: Init Email Recovery
      description: Initializes a new email recovery
      operationId: InitUserEmailRecovery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitUserEmailRecoveryRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/oauth:
    post:
      tags:
      - User Auth
      summary: Oauth
      description: Authenticate a user with an Oidc token (Oauth) - BETA
      operationId: Oauth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/oauth_login:
    post:
      tags:
      - Sessions
      summary: Login with Oauth
      description: Create an Oauth session for a user
      operationId: OauthLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthLoginRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/otp_auth:
    post:
      tags:
      - User Auth
      summary: OTP auth
      description: Authenticate a user with an OTP code sent via email or SMS
      operationId: OtpAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpAuthRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/otp_login:
    post:
      tags:
      - Sessions
      summary: Login with OTP
      description: Create an OTP session for a user
      operationId: OtpLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpLoginRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/recover_user:
    post:
      tags:
      - User Recovery
      summary: Recover a user
      description: Completes the process of recovering a user by adding an authenticator
      operationId: RecoverUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecoverUserRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/reject_activity:
    post:
      tags:
      - Consensus
      summary: Reject Activity
      description: Reject an Activity
      operationId: RejectActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectActivityRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/remove_organization_feature:
    post:
      tags:
      - Features
      summary: Remove Organization Feature
      description: Removes an organization feature. This activity must be approved
        by the current root quorum.
      operationId: RemoveOrganizationFeature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveOrganizationFeatureRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/set_organization_feature:
    post:
      tags:
      - Features
      summary: Set Organization Feature
      description: Sets an organization feature. This activity must be approved by
        the current root quorum.
      operationId: SetOrganizationFeature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrganizationFeatureRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/sign_raw_payload:
    post:
      tags:
      - Signing
      summary: Sign Raw Payload
      description: Sign a raw payload
      operationId: SignRawPayload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignRawPayloadRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/sign_raw_payloads:
    post:
      tags:
      - Signing
      summary: Sign Raw Payloads
      description: Sign multiple raw payloads with the same signing parameters
      operationId: SignRawPayloads
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignRawPayloadsRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/sign_transaction:
    post:
      tags:
      - Signing
      summary: Sign Transaction
      description: Sign a transaction
      operationId: SignTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignTransactionRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/stamp_login:
    post:
      tags:
      - Sessions
      summary: Login with a Stamp
      description: "Create a session for a user through stamping client side (api\
        \ key, wallet client, or passkey client)"
      operationId: StampLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StampLoginRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/update_policy:
    post:
      tags:
      - Policies
      summary: Update Policy
      description: Update an existing Policy
      operationId: UpdatePolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePolicyRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/update_private_key_tag:
    post:
      tags:
      - Private Key Tags
      summary: Update Private Key Tag
      description: "Update human-readable name or associated private keys. Note that\
        \ this activity is atomic: all of the updates will succeed at once, or all\
        \ of them will fail."
      operationId: UpdatePrivateKeyTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePrivateKeyTagRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/update_root_quorum:
    post:
      tags:
      - Organizations
      summary: Update Root Quorum
      description: Set the threshold and members of the root quorum. This activity
        must be approved by the current root quorum.
      operationId: UpdateRootQuorum
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRootQuorumRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/update_user:
    post:
      tags:
      - Users
      summary: Update User
      description: Update a User in an existing Organization
      operationId: UpdateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/update_user_tag:
    post:
      tags:
      - User Tags
      summary: Update User Tag
      description: "Update human-readable name or associated users. Note that this\
        \ activity is atomic: all of the updates will succeed at once, or all of them\
        \ will fail."
      operationId: UpdateUserTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserTagRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/update_wallet:
    post:
      tags:
      - Wallets
      summary: Update Wallet
      description: Update a wallet for an organization
      operationId: UpdateWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWalletRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
  /public/v1/submit/verify_otp:
    post:
      tags:
      - User Verification
      summary: Verify Generic OTP
      description: Verify a Generic OTP
      operationId: VerifyOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOtpRequest'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      x-codegen-request-body-name: body
components:
  schemas:
    AcceptInvitationIntent:
      required:
      - authenticator
      - invitationId
      - userId
      type: object
      properties:
        invitationId:
          type: string
          description: Unique identifier for a given Invitation object.
        userId:
          type: string
          description: Unique identifier for a given User.
        authenticator:
          $ref: '#/components/schemas/AuthenticatorParams'
    AcceptInvitationIntentV2:
      required:
      - authenticator
      - invitationId
      - userId
      type: object
      properties:
        invitationId:
          type: string
          description: Unique identifier for a given Invitation object.
        userId:
          type: string
          description: Unique identifier for a given User.
        authenticator:
          $ref: '#/components/schemas/AuthenticatorParamsV2'
    AcceptInvitationResult:
      required:
      - invitationId
      - userId
      type: object
      properties:
        invitationId:
          type: string
          description: Unique identifier for a given Invitation.
        userId:
          type: string
          description: Unique identifier for a given User.
    AccessType:
      type: string
      enum:
      - ACCESS_TYPE_WEB
      - ACCESS_TYPE_API
      - ACCESS_TYPE_ALL
    ActivateBillingTierIntent:
      required:
      - productId
      type: object
      properties:
        productId:
          type: string
          description: The product that the customer wants to subscribe to.
    ActivateBillingTierResult:
      required:
      - productId
      type: object
      properties:
        productId:
          type: string
          description: The id of the product being subscribed to.
    Activity:
      required:
      - canApprove
      - canReject
      - createdAt
      - fingerprint
      - id
      - intent
      - organizationId
      - result
      - status
      - type
      - updatedAt
      - votes
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for a given Activity object.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        status:
          $ref: '#/components/schemas/ActivityStatus'
        type:
          $ref: '#/components/schemas/ActivityType'
        intent:
          $ref: '#/components/schemas/Intent'
        result:
          $ref: '#/components/schemas/Result'
        votes:
          type: array
          description: "A list of objects representing a particular User's approval\
            \ or rejection of a Consensus request, including all relevant metadata."
          items:
            $ref: '#/components/schemas/Vote'
        fingerprint:
          type: string
          description: An artifact verifying a User's action.
        canApprove:
          type: boolean
        canReject:
          type: boolean
        createdAt:
          $ref: '#/components/schemas/external.data.v1.Timestamp'
        updatedAt:
          $ref: '#/components/schemas/external.data.v1.Timestamp'
        failure:
          $ref: '#/components/schemas/Status'
    ActivityResponse:
      required:
      - activity
      type: object
      properties:
        activity:
          $ref: '#/components/schemas/Activity'
    ActivityStatus:
      type: string
      enum:
      - ACTIVITY_STATUS_CREATED
      - ACTIVITY_STATUS_PENDING
      - ACTIVITY_STATUS_COMPLETED
      - ACTIVITY_STATUS_FAILED
      - ACTIVITY_STATUS_CONSENSUS_NEEDED
      - ACTIVITY_STATUS_REJECTED
    ActivityType:
      type: string
      enum:
      - ACTIVITY_TYPE_CREATE_API_KEYS
      - ACTIVITY_TYPE_CREATE_USERS
      - ACTIVITY_TYPE_CREATE_PRIVATE_KEYS
      - ACTIVITY_TYPE_SIGN_RAW_PAYLOAD
      - ACTIVITY_TYPE_CREATE_INVITATIONS
      - ACTIVITY_TYPE_ACCEPT_INVITATION
      - ACTIVITY_TYPE_CREATE_POLICY
      - ACTIVITY_TYPE_DISABLE_PRIVATE_KEY
      - ACTIVITY_TYPE_DELETE_USERS
      - ACTIVITY_TYPE_DELETE_API_KEYS
      - ACTIVITY_TYPE_DELETE_INVITATION
      - ACTIVITY_TYPE_DELETE_ORGANIZATION
      - ACTIVITY_TYPE_DELETE_POLICY
      - ACTIVITY_TYPE_CREATE_USER_TAG
      - ACTIVITY_TYPE_DELETE_USER_TAGS
      - ACTIVITY_TYPE_CREATE_ORGANIZATION
      - ACTIVITY_TYPE_SIGN_TRANSACTION
      - ACTIVITY_TYPE_APPROVE_ACTIVITY
      - ACTIVITY_TYPE_REJECT_ACTIVITY
      - ACTIVITY_TYPE_DELETE_AUTHENTICATORS
      - ACTIVITY_TYPE_CREATE_AUTHENTICATORS
      - ACTIVITY_TYPE_CREATE_PRIVATE_KEY_TAG
      - ACTIVITY_TYPE_DELETE_PRIVATE_KEY_TAGS
      - ACTIVITY_TYPE_SET_PAYMENT_METHOD
      - ACTIVITY_TYPE_ACTIVATE_BILLING_TIER
      - ACTIVITY_TYPE_DELETE_PAYMENT_METHOD
      - ACTIVITY_TYPE_CREATE_POLICY_V2
      - ACTIVITY_TYPE_CREATE_POLICY_V3
      - ACTIVITY_TYPE_CREATE_API_ONLY_USERS
      - ACTIVITY_TYPE_UPDATE_ROOT_QUORUM
      - ACTIVITY_TYPE_UPDATE_USER_TAG
      - ACTIVITY_TYPE_UPDATE_PRIVATE_KEY_TAG
      - ACTIVITY_TYPE_CREATE_AUTHENTICATORS_V2
      - ACTIVITY_TYPE_CREATE_ORGANIZATION_V2
      - ACTIVITY_TYPE_CREATE_USERS_V2
      - ACTIVITY_TYPE_ACCEPT_INVITATION_V2
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V2
      - ACTIVITY_TYPE_UPDATE_ALLOWED_ORIGINS
      - ACTIVITY_TYPE_CREATE_PRIVATE_KEYS_V2
      - ACTIVITY_TYPE_UPDATE_USER
      - ACTIVITY_TYPE_UPDATE_POLICY
      - ACTIVITY_TYPE_SET_PAYMENT_METHOD_V2
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V3
      - ACTIVITY_TYPE_CREATE_WALLET
      - ACTIVITY_TYPE_CREATE_WALLET_ACCOUNTS
      - ACTIVITY_TYPE_INIT_USER_EMAIL_RECOVERY
      - ACTIVITY_TYPE_RECOVER_USER
      - ACTIVITY_TYPE_SET_ORGANIZATION_FEATURE
      - ACTIVITY_TYPE_REMOVE_ORGANIZATION_FEATURE
      - ACTIVITY_TYPE_SIGN_RAW_PAYLOAD_V2
      - ACTIVITY_TYPE_SIGN_TRANSACTION_V2
      - ACTIVITY_TYPE_EXPORT_PRIVATE_KEY
      - ACTIVITY_TYPE_EXPORT_WALLET
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V4
      - ACTIVITY_TYPE_EMAIL_AUTH
      - ACTIVITY_TYPE_EXPORT_WALLET_ACCOUNT
      - ACTIVITY_TYPE_INIT_IMPORT_WALLET
      - ACTIVITY_TYPE_IMPORT_WALLET
      - ACTIVITY_TYPE_INIT_IMPORT_PRIVATE_KEY
      - ACTIVITY_TYPE_IMPORT_PRIVATE_KEY
      - ACTIVITY_TYPE_CREATE_POLICIES
      - ACTIVITY_TYPE_SIGN_RAW_PAYLOADS
      - ACTIVITY_TYPE_CREATE_READ_ONLY_SESSION
      - ACTIVITY_TYPE_CREATE_OAUTH_PROVIDERS
      - ACTIVITY_TYPE_DELETE_OAUTH_PROVIDERS
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V5
      - ACTIVITY_TYPE_OAUTH
      - ACTIVITY_TYPE_CREATE_API_KEYS_V2
      - ACTIVITY_TYPE_CREATE_READ_WRITE_SESSION
      - ACTIVITY_TYPE_EMAIL_AUTH_V2
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V6
      - ACTIVITY_TYPE_DELETE_PRIVATE_KEYS
      - ACTIVITY_TYPE_DELETE_WALLETS
      - ACTIVITY_TYPE_CREATE_READ_WRITE_SESSION_V2
      - ACTIVITY_TYPE_DELETE_SUB_ORGANIZATION
      - ACTIVITY_TYPE_INIT_OTP_AUTH
      - ACTIVITY_TYPE_OTP_AUTH
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V7
      - ACTIVITY_TYPE_UPDATE_WALLET
      - ACTIVITY_TYPE_UPDATE_POLICY_V2
      - ACTIVITY_TYPE_CREATE_USERS_V3
      - ACTIVITY_TYPE_INIT_OTP_AUTH_V2
      - ACTIVITY_TYPE_INIT_OTP
      - ACTIVITY_TYPE_VERIFY_OTP
      - ACTIVITY_TYPE_OTP_LOGIN
      - ACTIVITY_TYPE_STAMP_LOGIN
      - ACTIVITY_TYPE_OAUTH_LOGIN
    AddressFormat:
      type: string
      enum:
      - ADDRESS_FORMAT_UNCOMPRESSED
      - ADDRESS_FORMAT_COMPRESSED
      - ADDRESS_FORMAT_ETHEREUM
      - ADDRESS_FORMAT_SOLANA
      - ADDRESS_FORMAT_COSMOS
      - ADDRESS_FORMAT_TRON
      - ADDRESS_FORMAT_SUI
      - ADDRESS_FORMAT_APTOS
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2PKH
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2SH
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2WPKH
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2WSH
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2TR
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2PKH
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2SH
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2WPKH
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2WSH
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2TR
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2PKH
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2SH
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2WPKH
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2WSH
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2TR
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2PKH
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2SH
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2WPKH
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2WSH
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2TR
      - ADDRESS_FORMAT_SEI
      - ADDRESS_FORMAT_XLM
      - ADDRESS_FORMAT_DOGE_MAINNET
      - ADDRESS_FORMAT_DOGE_TESTNET
      - ADDRESS_FORMAT_TON_V3R2
      - ADDRESS_FORMAT_TON_V4R2
      - ADDRESS_FORMAT_XRP
    Any:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties:
        type: object
    ApiKey:
      required:
      - apiKeyId
      - apiKeyName
      - createdAt
      - credential
      - updatedAt
      type: object
      properties:
        credential:
          $ref: '#/components/schemas/external.data.v1.Credential'
        apiKeyId:
          type: string
          description: Unique identifier for a given API Key.
        apiKeyName:
          type: string
          description: Human-readable name for an API Key.
        createdAt:
          $ref: '#/components/schemas/external.data.v1.Timestamp'
        updatedAt:
          $ref: '#/components/schemas/external.data.v1.Timestamp'
        expirationSeconds:
          type: string
          description: Optional window (in seconds) indicating how long the API Key
            should last.
          format: uint64
    ApiKeyCurve:
      type: string
      enum:
      - API_KEY_CURVE_P256
      - API_KEY_CURVE_SECP256K1
      - API_KEY_CURVE_ED25519
    ApiKeyParams:
      required:
      - apiKeyName
      - publicKey
      type: object
      properties:
        apiKeyName:
          type: string
          description: Human-readable name for an API Key.
        publicKey:
          type: string
          description: The public component of a cryptographic key pair used to sign
            messages and transactions.
        expirationSeconds:
          type: string
          description: Optional window (in seconds) indicating how long the API Key
            should last.
    ApiKeyParamsV2:
      required:
      - apiKeyName
      - curveType
      - publicKey
      type: object
      properties:
        apiKeyName:
          type: string
          description: Human-readable name for an API Key.
        publicKey:
          type: string
          description: The public component of a cryptographic key pair used to sign
            messages and transactions.
        curveType:
          $ref: '#/components/schemas/ApiKeyCurve'
        expirationSeconds:
          type: string
          description: Optional window (in seconds) indicating how long the API Key
            should last.
    ApiOnlyUserParams:
      required:
      - apiKeys
      - userName
      - userTags
      type: object
      properties:
        userName:
          type: string
          description: The name of the new API-only User.
        userEmail:
          type: string
          description: The email address for this API-only User (optional).
        userTags:
          type: array
          description: "A list of tags assigned to the new API-only User. This field,\
            \ if not needed, should be an empty array in your request body."
          items:
            type: string
        apiKeys:
          type: array
          description: "A list of API Key parameters. This field, if not needed, should\
            \ be an empty array in your request body."
          items:
            $ref: '#/components/schemas/ApiKeyParams'
    ApproveActivityIntent:
      required:
      - fingerprint
      type: object
      properties:
        fingerprint:
          type: string
          description: An artifact verifying a User's action.
    ApproveActivityRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_APPROVE_ACTIVITY
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/ApproveActivityIntent'
    Attestation:
      required:
      - attestationObject
      - clientDataJson
      - credentialId
      - transports
      type: object
      properties:
        credentialId:
          type: string
          description: The cbor encoded then base64 url encoded id of the credential.
        clientDataJson:
          type: string
          description: A base64 url encoded payload containing metadata about the
            signing context and the challenge.
        attestationObject:
          type: string
          description: A base64 url encoded payload containing authenticator data
            and any attestation the webauthn provider chooses.
        transports:
          type: array
          description: The type of authenticator transports.
          items:
            $ref: '#/components/schemas/AuthenticatorTransport'
    Authenticator:
      required:
      - aaguid
      - attestationType
      - authenticatorId
      - authenticatorName
      - createdAt
      - credential
      - credentialId
      - model
      - transports
      - updatedAt
      type: object
      properties:
        transports:
          type: array
          description: "Types of transports that may be used by an Authenticator (e.g.,\
            \ USB, NFC, BLE)."
          items:
            $ref: '#/components/schemas/AuthenticatorTransport'
        attestationType:
          type: string
        aaguid:
          type: string
          description: Identifier indicating the type of the Security Key.
        credentialId:
          type: string
          description: Unique identifier for a WebAuthn credential.
        model:
          type: string
          description: The type of Authenticator device.
        credential:
          $ref: '#/components/schemas/external.data.v1.Credential'
        authenticatorId:
          type: string
          description: Unique identifier for a given Authenticator.
        authenticatorName:
          type: string
          description: Human-readable name for an Authenticator.
        createdAt:
          $ref: '#/components/schemas/external.data.v1.Timestamp'
        updatedAt:
          $ref: '#/components/schemas/external.data.v1.Timestamp'
    AuthenticatorAttestationResponse:
      required:
      - attestationObject
      - clientDataJson
      type: object
      properties:
        clientDataJson:
          type: string
        attestationObject:
          type: string
        transports:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticatorTransport'
        authenticatorAttachment:
          type: string
          nullable: true
          enum:
          - cross-platform
          - platform
    AuthenticatorParams:
      required:
      - attestation
      - authenticatorName
      - challenge
      - userId
      type: object
      properties:
        authenticatorName:
          type: string
          description: Human-readable name for an Authenticator.
        userId:
          type: string
          description: Unique identifier for a given User.
        attestation:
          $ref: '#/components/schemas/PublicKeyCredentialWithAttestation'
        challenge:
          type: string
          description: Challenge presented for authentication purposes.
    AuthenticatorParamsV2:
      required:
      - attestation
      - authenticatorName
      - challenge
      type: object
      properties:
        authenticatorName:
          type: string
          description: Human-readable name for an Authenticator.
        challenge:
          type: string
          description: Challenge presented for authentication purposes.
        attestation:
          $ref: '#/components/schemas/Attestation'
    AuthenticatorTransport:
      type: string
      enum:
      - AUTHENTICATOR_TRANSPORT_BLE
      - AUTHENTICATOR_TRANSPORT_INTERNAL
      - AUTHENTICATOR_TRANSPORT_NFC
      - AUTHENTICATOR_TRANSPORT_USB
      - AUTHENTICATOR_TRANSPORT_HYBRID
    Config:
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
        quorum:
          $ref: '#/components/schemas/external.data.v1.Quorum'
    CreateApiKeysIntent:
      required:
      - apiKeys
      - userId
      type: object
      properties:
        apiKeys:
          type: array
          description: A list of API Keys.
          items:
            $ref: '#/components/schemas/ApiKeyParams'
        userId:
          type: string
          description: Unique identifier for a given User.
    CreateApiKeysIntentV2:
      required:
      - apiKeys
      - userId
      type: object
      properties:
        apiKeys:
          type: array
          description: A list of API Keys.
          items:
            $ref: '#/components/schemas/ApiKeyParamsV2'
        userId:
          type: string
          description: Unique identifier for a given User.
    CreateApiKeysRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_API_KEYS_V2
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreateApiKeysIntentV2'
    CreateApiKeysResult:
      required:
      - apiKeyIds
      type: object
      properties:
        apiKeyIds:
          type: array
          description: A list of API Key IDs.
          items:
            type: string
    CreateApiOnlyUsersIntent:
      required:
      - apiOnlyUsers
      type: object
      properties:
        apiOnlyUsers:
          type: array
          description: A list of API-only Users to create.
          items:
            $ref: '#/components/schemas/ApiOnlyUserParams'
    CreateApiOnlyUsersResult:
      required:
      - userIds
      type: object
      properties:
        userIds:
          type: array
          description: A list of API-only User IDs.
          items:
            type: string
    CreateAuthenticatorsIntent:
      required:
      - authenticators
      - userId
      type: object
      properties:
        authenticators:
          type: array
          description: A list of Authenticators.
          items:
            $ref: '#/components/schemas/AuthenticatorParams'
        userId:
          type: string
          description: Unique identifier for a given User.
    CreateAuthenticatorsIntentV2:
      required:
      - authenticators
      - userId
      type: object
      properties:
        authenticators:
          type: array
          description: A list of Authenticators.
          items:
            $ref: '#/components/schemas/AuthenticatorParamsV2'
        userId:
          type: string
          description: Unique identifier for a given User.
    CreateAuthenticatorsRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_AUTHENTICATORS_V2
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreateAuthenticatorsIntentV2'
    CreateAuthenticatorsResult:
      required:
      - authenticatorIds
      type: object
      properties:
        authenticatorIds:
          type: array
          description: A list of Authenticator IDs.
          items:
            type: string
    CreateInvitationsIntent:
      required:
      - invitations
      type: object
      properties:
        invitations:
          type: array
          description: A list of Invitations.
          items:
            $ref: '#/components/schemas/InvitationParams'
    CreateInvitationsRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_INVITATIONS
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreateInvitationsIntent'
    CreateInvitationsResult:
      required:
      - invitationIds
      type: object
      properties:
        invitationIds:
          type: array
          description: A list of Invitation IDs
          items:
            type: string
    CreateOauthProvidersIntent:
      required:
      - oauthProviders
      - userId
      type: object
      properties:
        userId:
          type: string
          description: The ID of the User to add an Oauth provider to
        oauthProviders:
          type: array
          description: A list of Oauth providers.
          items:
            $ref: '#/components/schemas/OauthProviderParams'
    CreateOauthProvidersRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_OAUTH_PROVIDERS
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreateOauthProvidersIntent'
    CreateOauthProvidersResult:
      required:
      - providerIds
      type: object
      properties:
        providerIds:
          type: array
          description: A list of unique identifiers for Oauth Providers
          items:
            type: string
    CreateOrganizationIntent:
      required:
      - organizationName
      - rootAuthenticator
      - rootEmail
      type: object
      properties:
        organizationName:
          type: string
          description: Human-readable name for an Organization.
        rootEmail:
          type: string
          description: The root user's email address.
        rootAuthenticator:
          $ref: '#/components/schemas/AuthenticatorParams'
        rootUserId:
          type: string
          description: Unique identifier for the root user object.
    CreateOrganizationIntentV2:
      required:
      - organizationName
      - rootAuthenticator
      - rootEmail
      type: object
      properties:
        organizationName:
          type: string
          description: Human-readable name for an Organization.
        rootEmail:
          type: string
          description: The root user's email address.
        rootAuthenticator:
          $ref: '#/components/schemas/AuthenticatorParamsV2'
        rootUserId:
          type: string
          description: Unique identifier for the root user object.
    CreateOrganizationResult:
      required:
      - organizationId
      type: object
      properties:
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
    CreatePoliciesIntent:
      required:
      - policies
      type: object
      properties:
        policies:
          type: array
          description: An array of policy intents to be created.
          items:
            $ref: '#/components/schemas/CreatePolicyIntentV3'
    CreatePoliciesRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_POLICIES
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreatePoliciesIntent'
    CreatePoliciesResult:
      required:
      - policyIds
      type: object
      properties:
        policyIds:
          type: array
          description: A list of unique identifiers for the created policies.
          items:
            type: string
    CreatePolicyIntent:
      required:
      - effect
      - policyName
      - selectors
      type: object
      properties:
        policyName:
          type: string
          description: Human-readable name for a Policy.
        selectors:
          type: array
          description: "A list of simple functions each including a subject, target\
            \ and boolean. See Policy Engine Language section for additional details."
          items:
            $ref: '#/components/schemas/Selector'
        effect:
          $ref: '#/components/schemas/Effect'
        notes:
          type: string
    CreatePolicyIntentV2:
      required:
      - effect
      - policyName
      - selectors
      type: object
      properties:
        policyName:
          type: string
          description: Human-readable name for a Policy.
        selectors:
          type: array
          description: "A list of simple functions each including a subject, target\
            \ and boolean. See Policy Engine Language section for additional details."
          items:
            $ref: '#/components/schemas/SelectorV2'
        effect:
          $ref: '#/components/schemas/Effect'
        notes:
          type: string
    CreatePolicyIntentV3:
      required:
      - effect
      - policyName
      type: object
      properties:
        policyName:
          type: string
          description: Human-readable name for a Policy.
        effect:
          $ref: '#/components/schemas/Effect'
        condition:
          type: string
          description: The condition expression that triggers the Effect
        consensus:
          type: string
          description: The consensus expression that triggers the Effect
        notes:
          type: string
    CreatePolicyRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_POLICY_V3
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreatePolicyIntentV3'
    CreatePolicyResult:
      required:
      - policyId
      type: object
      properties:
        policyId:
          type: string
          description: Unique identifier for a given Policy.
    CreatePrivateKeyTagIntent:
      required:
      - privateKeyIds
      - privateKeyTagName
      type: object
      properties:
        privateKeyTagName:
          type: string
          description: Human-readable name for a Private Key Tag.
        privateKeyIds:
          type: array
          description: A list of Private Key IDs.
          items:
            type: string
    CreatePrivateKeyTagRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_PRIVATE_KEY_TAG
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreatePrivateKeyTagIntent'
    CreatePrivateKeyTagResult:
      required:
      - privateKeyIds
      - privateKeyTagId
      type: object
      properties:
        privateKeyTagId:
          type: string
          description: Unique identifier for a given Private Key Tag.
        privateKeyIds:
          type: array
          description: A list of Private Key IDs.
          items:
            type: string
    CreatePrivateKeysIntent:
      required:
      - privateKeys
      type: object
      properties:
        privateKeys:
          type: array
          description: A list of Private Keys.
          items:
            $ref: '#/components/schemas/PrivateKeyParams'
    CreatePrivateKeysIntentV2:
      required:
      - privateKeys
      type: object
      properties:
        privateKeys:
          type: array
          description: A list of Private Keys.
          items:
            $ref: '#/components/schemas/PrivateKeyParams'
    CreatePrivateKeysRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_PRIVATE_KEYS_V2
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreatePrivateKeysIntentV2'
    CreatePrivateKeysResult:
      required:
      - privateKeyIds
      type: object
      properties:
        privateKeyIds:
          type: array
          description: A list of Private Key IDs.
          items:
            type: string
    CreatePrivateKeysResultV2:
      required:
      - privateKeys
      type: object
      properties:
        privateKeys:
          type: array
          description: A list of Private Key IDs and addresses.
          items:
            $ref: '#/components/schemas/PrivateKeyResult'
    CreateReadOnlySessionIntent:
      type: object
    CreateReadOnlySessionRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_READ_ONLY_SESSION
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreateReadOnlySessionIntent'
    CreateReadOnlySessionResult:
      required:
      - organizationId
      - organizationName
      - session
      - sessionExpiry
      - userId
      - username
      type: object
      properties:
        organizationId:
          type: string
          description: "Unique identifier for a given Organization. If the request\
            \ is being made by a user and their Sub-Organization ID is unknown, this\
            \ can be the Parent Organization ID. However, using the Sub-Organization\
            \ ID is preferred due to performance reasons."
        organizationName:
          type: string
          description: Human-readable name for an Organization.
        userId:
          type: string
          description: Unique identifier for a given User.
        username:
          type: string
          description: Human-readable name for a User.
        session:
          type: string
          description: String representing a read only session
        sessionExpiry:
          type: string
          description: UTC timestamp in seconds representing the expiry time for the
            read only session.
          format: uint64
    CreateReadWriteSessionIntent:
      required:
      - email
      - targetPublicKey
      type: object
      properties:
        targetPublicKey:
          type: string
          description: "Client-side public key generated by the user, to which the\
            \ read write session bundle (credentials) will be encrypted."
        email:
          type: string
          description: Email of the user to create a read write session for
        apiKeyName:
          type: string
          description: "Optional human-readable name for an API Key. If none provided,\
            \ default to Read Write Session - <Timestamp>"
        expirationSeconds:
          type: string
          description: "Expiration window (in seconds) indicating how long the API\
            \ key is valid for. If not provided, a default of 15 minutes will be used."
    CreateReadWriteSessionIntentV2:
      required:
      - targetPublicKey
      type: object
      properties:
        targetPublicKey:
          type: string
          description: "Client-side public key generated by the user, to which the\
            \ read write session bundle (credentials) will be encrypted."
        userId:
          type: string
          description: Unique identifier for a given User.
        apiKeyName:
          type: string
          description: "Optional human-readable name for an API Key. If none provided,\
            \ default to Read Write Session - <Timestamp>"
        expirationSeconds:
          type: string
          description: "Expiration window (in seconds) indicating how long the API\
            \ key is valid for. If not provided, a default of 15 minutes will be used."
        invalidateExisting:
          type: boolean
          description: Invalidate all other previously generated ReadWriteSession
            API keys
    CreateReadWriteSessionRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_READ_WRITE_SESSION_V2
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreateReadWriteSessionIntentV2'
    CreateReadWriteSessionResult:
      required:
      - apiKeyId
      - credentialBundle
      - organizationId
      - organizationName
      - userId
      - username
      type: object
      properties:
        organizationId:
          type: string
          description: "Unique identifier for a given Organization. If the request\
            \ is being made by a user and their Sub-Organization ID is unknown, this\
            \ can be the Parent Organization ID. However, using the Sub-Organization\
            \ ID is preferred due to performance reasons."
        organizationName:
          type: string
          description: Human-readable name for an Organization.
        userId:
          type: string
          description: Unique identifier for a given User.
        username:
          type: string
          description: Human-readable name for a User.
        apiKeyId:
          type: string
          description: Unique identifier for the created API key.
        credentialBundle:
          type: string
          description: HPKE encrypted credential bundle
    CreateReadWriteSessionResultV2:
      required:
      - apiKeyId
      - credentialBundle
      - organizationId
      - organizationName
      - userId
      - username
      type: object
      properties:
        organizationId:
          type: string
          description: "Unique identifier for a given Organization. If the request\
            \ is being made by a user and their Sub-Organization ID is unknown, this\
            \ can be the Parent Organization ID. However, using the Sub-Organization\
            \ ID is preferred due to performance reasons."
        organizationName:
          type: string
          description: Human-readable name for an Organization.
        userId:
          type: string
          description: Unique identifier for a given User.
        username:
          type: string
          description: Human-readable name for a User.
        apiKeyId:
          type: string
          description: Unique identifier for the created API key.
        credentialBundle:
          type: string
          description: HPKE encrypted credential bundle
    CreateSubOrganizationIntent:
      required:
      - name
      - rootAuthenticator
      type: object
      properties:
        name:
          type: string
          description: Name for this sub-organization
        rootAuthenticator:
          $ref: '#/components/schemas/AuthenticatorParamsV2'
    CreateSubOrganizationIntentV2:
      required:
      - rootQuorumThreshold
      - rootUsers
      - subOrganizationName
      type: object
      properties:
        subOrganizationName:
          type: string
          description: Name for this sub-organization
        rootUsers:
          type: array
          description: Root users to create within this sub-organization
          items:
            $ref: '#/components/schemas/RootUserParams'
        rootQuorumThreshold:
          type: integer
          description: The threshold of unique approvals to reach root quorum. This
            value must be less than or equal to the number of root users
          format: int32
    CreateSubOrganizationIntentV3:
      required:
      - privateKeys
      - rootQuorumThreshold
      - rootUsers
      - subOrganizationName
      type: object
      properties:
        subOrganizationName:
          type: string
          description: Name for this sub-organization
        rootUsers:
          type: array
          description: Root users to create within this sub-organization
          items:
            $ref: '#/components/schemas/RootUserParams'
        rootQuorumThreshold:
          type: integer
          description: The threshold of unique approvals to reach root quorum. This
            value must be less than or equal to the number of root users
          format: int32
        privateKeys:
          type: array
          description: A list of Private Keys.
          items:
            $ref: '#/components/schemas/PrivateKeyParams'
    CreateSubOrganizationIntentV4:
      required:
      - rootQuorumThreshold
      - rootUsers
      - subOrganizationName
      type: object
      properties:
        subOrganizationName:
          type: string
          description: Name for this sub-organization
        rootUsers:
          type: array
          description: Root users to create within this sub-organization
          items:
            $ref: '#/components/schemas/RootUserParams'
        rootQuorumThreshold:
          type: integer
          description: The threshold of unique approvals to reach root quorum. This
            value must be less than or equal to the number of root users
          format: int32
        wallet:
          $ref: '#/components/schemas/WalletParams'
        disableEmailRecovery:
          type: boolean
          description: Disable email recovery for the sub-organization
        disableEmailAuth:
          type: boolean
          description: Disable email auth for the sub-organization
    CreateSubOrganizationIntentV5:
      required:
      - rootQuorumThreshold
      - rootUsers
      - subOrganizationName
      type: object
      properties:
        subOrganizationName:
          type: string
          description: Name for this sub-organization
        rootUsers:
          type: array
          description: Root users to create within this sub-organization
          items:
            $ref: '#/components/schemas/RootUserParamsV2'
        rootQuorumThreshold:
          type: integer
          description: The threshold of unique approvals to reach root quorum. This
            value must be less than or equal to the number of root users
          format: int32
        wallet:
          $ref: '#/components/schemas/WalletParams'
        disableEmailRecovery:
          type: boolean
          description: Disable email recovery for the sub-organization
        disableEmailAuth:
          type: boolean
          description: Disable email auth for the sub-organization
    CreateSubOrganizationIntentV6:
      required:
      - rootQuorumThreshold
      - rootUsers
      - subOrganizationName
      type: object
      properties:
        subOrganizationName:
          type: string
          description: Name for this sub-organization
        rootUsers:
          type: array
          description: Root users to create within this sub-organization
          items:
            $ref: '#/components/schemas/RootUserParamsV3'
        rootQuorumThreshold:
          type: integer
          description: The threshold of unique approvals to reach root quorum. This
            value must be less than or equal to the number of root users
          format: int32
        wallet:
          $ref: '#/components/schemas/WalletParams'
        disableEmailRecovery:
          type: boolean
          description: Disable email recovery for the sub-organization
        disableEmailAuth:
          type: boolean
          description: Disable email auth for the sub-organization
    CreateSubOrganizationIntentV7:
      required:
      - rootQuorumThreshold
      - rootUsers
      - subOrganizationName
      type: object
      properties:
        subOrganizationName:
          type: string
          description: Name for this sub-organization
        rootUsers:
          type: array
          description: Root users to create within this sub-organization
          items:
            $ref: '#/components/schemas/RootUserParamsV4'
        rootQuorumThreshold:
          type: integer
          description: The threshold of unique approvals to reach root quorum. This
            value must be less than or equal to the number of root users
          format: int32
        wallet:
          $ref: '#/components/schemas/WalletParams'
        disableEmailRecovery:
          type: boolean
          description: Disable email recovery for the sub-organization
        disableEmailAuth:
          type: boolean
          description: Disable email auth for the sub-organization
        disableSmsAuth:
          type: boolean
          description: Disable OTP SMS auth for the sub-organization
        disableOtpEmailAuth:
          type: boolean
          description: Disable OTP email auth for the sub-organization
    CreateSubOrganizationRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V7
        timestampMs:
          type: string
          description: "Timestamp (in milliseconds) of the request, used to verify\
            \ liveness of user requests."
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          $ref: '#/components/schemas/CreateSubOrganizationIntentV7'
    CreateSubOrganizationResult:
      required:
      - subOrganizationId
      type: object
[...]
