openapi: 3.0.1
info:
  title: API Reference
  description: Review our [API Introduction](../api-introduction) to get started.
  contact: {}
  version: '1.0'
servers:
- url: https://api.turnkey.com/
security:
- ApiKeyAuth: []
- AuthenticatorAuth: []
tags:
- name: PublicApiService
- name: Organizations
  description: |-
    An Organization is the highest level of hierarchy in Turnkey. It can contain many Users, Private Keys, and Policies managed by a Root Quorum. The Root Quorum consists of a set of Users with a consensus threshold. This consensus threshold must be reached by Quorum members in order for any actions to take place.

    See [Root Quorum](../concepts/users/root-quorum) for more information
- name: Invitations
  description: |-
    Invitations allow you to invite Users into your Organization via email. Alternatively, Users can be added directly without an Invitation if their ApiKey or Authenticator credentials are known ahead of time.

    See [Users](./api#tag/Users) for more information
- name: Policies
  description: |-
    Policies allow for deep customization of the security of your Organization. They can be used to grant permissions or restrict usage of Users and Private Keys. The Policy Engine analyzes all of your Policies on each request to determine whether an Activity is allowed.

    See [Policy Overview](../managing-policies/overview) for more information
- name: Wallets
  description: |-
    Wallets contain collections of deterministically generated cryptographic public / private key pairs that share a common seed. Turnkey securely holds the common seed, but only you can access it. In most cases, Wallets should be preferred over Private Keys since they can be represented by a mnemonic phrase, used across a variety of cryptographic curves, and can derive many addresses.

    Derived addresses can be used to create digital signatures using the corresponding underlying private key. See [Signing](./api#tag/Signing) for more information
- name: Signing
  description: Signers allow you to create digital signatures. Signatures are used
    to validate the authenticity and integrity of a digital message. Turnkey makes
    it easy to produce signatures by allowing you to sign with an address. If Turnkey
    doesn't yet support an address format you need, you can generate and sign with
    the public key instead by using the address format `ADDRESS_FORMAT_COMPRESSED`.
- name: Private Keys
  description: |-
    Private Keys are cryptographic public / private key pairs that can be used for cryptocurrency needs or more generalized encryption. Turnkey securely holds all private key materials for you, but only you can access them.

    The Private Key ID or any derived address can be used to create digital signatures. See [Signing](./api#tag/Signing) for more information
- name: Private Key Tags
  description: Private Key Tags allow you to easily group and permission Private Keys
    through Policies.
- name: Users
  description: Users are responsible for any action taken within an Organization.
    They can have ApiKey or Auuthenticator credentials, allowing you to onboard teammates
    to the Organization, or create API-only Users to run as part of your infrastructure.
- name: User Tags
  description: User Key Tags allow you to easily group and permission Users through
    Policies.
- name: Authenticators
  description: Authenticators are WebAuthN hardware devices, such as a Macbook TouchID
    or Yubikey, that can be used to authenticate requests.
- name: API Keys
  description: |-
    API Keys are used to authenticate requests

    See our [CLI](https://github.com/tkhq/tkcli) for instructions on generating API Keys
- name: Activities
  description: |-
    Activities encapsulate all the possible actions that can be taken with Turnkey. Some examples include adding a new user, creating a private key, and signing a transaction.

    Activities that modify your Organization are processed asynchronously. To confirm processing is complete and retrieve the Activity results, these activities must be polled until that status has been updated to a finalized state: `COMPLETED` when the activity is successful or `FAILED` when the activity has failed
- name: Consensus
  description: |-
    Policies can enforce consensus requirements for Activities. For example, adding a new user requires two admins to approve the request.

    Activities that have been proposed, but don't yet meet the Consesnsus requirements will have the status: `REQUIRES_CONSENSUS`. Activities in this state can be approved or rejected using the unique fingerprint generated when an Activity is created.
paths:
  "/public/v1/query/get_activity":
    post:
      tags:
      - Activities
      summary: Get Activity
      description: Get details about an Activity
      operationId: PublicApiService_GetActivity
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetActivityRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_api_key":
    post:
      tags:
      - API keys
      summary: Get API key
      description: Get details about an API key
      operationId: PublicApiService_GetApiKey
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetApiKeyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetApiKeyResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_api_keys":
    post:
      tags:
      - API keys
      summary: Get API key
      description: Get details about API keys for a user
      operationId: PublicApiService_GetApiKeys
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetApiKeysRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetApiKeysResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_attestation":
    post:
      tags:
      - Attestation
      summary: Attestation
      description: Get the attestation document corresponding to an enclave.
      operationId: PublicApiService_GetAttestationDocument
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetAttestationDocumentRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetAttestationDocumentResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_authenticator":
    post:
      tags:
      - Authenticators
      summary: Get Authenticator
      description: Get details about an authenticator
      operationId: PublicApiService_GetAuthenticator
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetAuthenticatorRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetAuthenticatorResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_authenticators":
    post:
      tags:
      - Authenticators
      summary: Get Authenticators
      description: Get details about authenticators for a user
      operationId: PublicApiService_GetAuthenticators
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetAuthenticatorsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetAuthenticatorsResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_oauth_providers":
    post:
      tags:
      - Users
      summary: Get Oauth providers
      description: Get details about Oauth providers for a user
      operationId: PublicApiService_GetOauthProviders
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetOauthProvidersRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetOauthProvidersResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_organization":
    post:
      tags:
      - Organizations
      summary: Get Organization
      description: Get details about an Organization
      operationId: PublicApiService_GetOrganization
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetOrganizationRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetOrganizationResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_organization_configs":
    post:
      tags:
      - Organizations
      summary: Get Configs
      description: Get quorum settings and features for an organization
      operationId: PublicApiService_GetOrganizationConfigs
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetOrganizationConfigsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetOrganizationConfigsResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_policy":
    post:
      tags:
      - Policies
      summary: Get Policy
      description: Get details about a Policy
      operationId: PublicApiService_GetPolicy
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetPolicyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetPolicyResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_private_key":
    post:
      tags:
      - Private Keys
      summary: Get Private Key
      description: Get details about a Private Key
      operationId: PublicApiService_GetPrivateKey
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetPrivateKeyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetPrivateKeyResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_user":
    post:
      tags:
      - Users
      summary: Get User
      description: Get details about a User
      operationId: PublicApiService_GetUser
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetUserRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetUserResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/get_wallet":
    post:
      tags:
      - Wallets
      summary: Get Wallet
      description: Get details about a Wallet
      operationId: PublicApiService_GetWallet
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetWalletRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetWalletResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_activities":
    post:
      tags:
      - Activities
      summary: List Activities
      description: List all Activities within an Organization
      operationId: PublicApiService_GetActivities
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetActivitiesRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetActivitiesResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_policies":
    post:
      tags:
      - Policies
      summary: List Policies
      description: List all Policies within an Organization
      operationId: PublicApiService_GetPolicies
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetPoliciesRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetPoliciesResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_private_key_tags":
    post:
      tags:
      - Private Key Tags
      summary: List Private Key Tags
      description: List all Private Key Tags within an Organization
      operationId: PublicApiService_ListPrivateKeyTags
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1ListPrivateKeyTagsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ListPrivateKeyTagsResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_private_keys":
    post:
      tags:
      - Private Keys
      summary: List Private Keys
      description: List all Private Keys within an Organization
      operationId: PublicApiService_GetPrivateKeys
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetPrivateKeysRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetPrivateKeysResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_suborgs":
    post:
      tags:
      - Organizations
      summary: Get Suborgs
      description: Get all suborg IDs associated given a parent org ID and an optional
        filter.
      operationId: PublicApiService_GetSubOrgIds
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetSubOrgIdsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetSubOrgIdsResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_user_tags":
    post:
      tags:
      - User Tags
      summary: List User Tags
      description: List all User Tags within an Organization
      operationId: PublicApiService_ListUserTags
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1ListUserTagsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ListUserTagsResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_users":
    post:
      tags:
      - Users
      summary: List Users
      description: List all Users within an Organization
      operationId: PublicApiService_GetUsers
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetUsersRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetUsersResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_wallet_accounts":
    post:
      tags:
      - Wallets
      summary: List Wallets Accounts
      description: List all Accounts wirhin a Wallet
      operationId: PublicApiService_GetWalletAccounts
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetWalletAccountsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetWalletAccountsResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/list_wallets":
    post:
      tags:
      - Wallets
      summary: List Wallets
      description: List all Wallets within an Organization
      operationId: PublicApiService_GetWallets
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetWalletsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetWalletsResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/query/whoami":
    post:
      tags:
      - Sessions
      summary: Who am I?
      description: Get basic information about your current API or WebAuthN user and
        their organization. Affords Sub-Organization look ups via Parent Organization
        for WebAuthN or API key users.
      operationId: PublicApiService_GetWhoami
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1GetWhoamiRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1GetWhoamiResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/approve_activity":
    post:
      tags:
      - Consensus
      summary: Approve Activity
      description: Approve an Activity
      operationId: PublicApiService_ApproveActivity
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1ApproveActivityRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_api_keys":
    post:
      tags:
      - API Keys
      summary: Create API Keys
      description: Add api keys to an existing User
      operationId: PublicApiService_CreateApiKeys
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateApiKeysRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_api_only_users":
    post:
      tags:
      - Users
      summary: Create API-only Users
      description: Create API-only Users in an existing Organization
      operationId: PublicApiService_CreateApiOnlyUsers
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateApiOnlyUsersRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_authenticators":
    post:
      tags:
      - Authenticators
      summary: Create Authenticators
      description: Create Authenticators to authenticate requests to Turnkey
      operationId: PublicApiService_CreateAuthenticators
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateAuthenticatorsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_invitations":
    post:
      tags:
      - Invitations
      summary: Create Invitations
      description: Create Invitations to join an existing Organization
      operationId: PublicApiService_CreateInvitations
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateInvitationsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_oauth_providers":
    post:
      tags:
      - Users
      summary: Create Oauth Providers
      description: Creates Oauth providers for a specified user - BETA
      operationId: PublicApiService_CreateOauthProviders
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateOauthProvidersRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_policies":
    post:
      tags:
      - Policies
      summary: Create Policies
      description: Create new Policies
      operationId: PublicApiService_CreatePolicies
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreatePoliciesRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_policy":
    post:
      tags:
      - Policies
      summary: Create Policy
      description: Create a new Policy
      operationId: PublicApiService_CreatePolicy
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreatePolicyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_private_key_tag":
    post:
      tags:
      - Private Key Tags
      summary: Create Private Key Tag
      description: Create a private key tag and add it to private keys.
      operationId: PublicApiService_CreatePrivateKeyTag
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreatePrivateKeyTagRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_private_keys":
    post:
      tags:
      - Private Keys
      summary: Create Private Keys
      description: Create new Private Keys
      operationId: PublicApiService_CreatePrivateKeys
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreatePrivateKeysRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_read_only_session":
    post:
      tags:
      - Sessions
      summary: Create Read Only Session
      description: Create a read only session for a user (valid for 1 hour)
      operationId: PublicApiService_CreateReadOnlySession
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateReadOnlySessionRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_read_write_session":
    post:
      tags:
      - Sessions
      summary: Create Read Write Session
      description: Create a read write session for a user
      operationId: PublicApiService_CreateReadWriteSession
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateReadWriteSessionRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_sub_organization":
    post:
      tags:
      - Organizations
      summary: Create Sub-Organization
      description: Create a new Sub-Organization
      operationId: PublicApiService_CreateSubOrganization
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateSubOrganizationRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_user_tag":
    post:
      tags:
      - User Tags
      summary: Create User Tag
      description: Create a user tag and add it to users.
      operationId: PublicApiService_CreateUserTag
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateUserTagRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_users":
    post:
      tags:
      - Users
      summary: Create Users
      description: Create Users in an existing Organization
      operationId: PublicApiService_CreateUsers
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateUsersRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_wallet":
    post:
      tags:
      - Wallets
      summary: Create Wallet
      description: Create a Wallet and derive addresses
      operationId: PublicApiService_CreateWallet
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateWalletRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/create_wallet_accounts":
    post:
      tags:
      - Wallets
      summary: Create Wallet Accounts
      description: Derive additional addresses using an existing wallet
      operationId: PublicApiService_CreateWalletAccounts
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1CreateWalletAccountsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_api_keys":
    post:
      tags:
      - API Keys
      summary: Delete API Keys
      description: Remove api keys from a User
      operationId: PublicApiService_DeleteApiKeys
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeleteApiKeysRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_authenticators":
    post:
      tags:
      - Authenticators
      summary: Delete Authenticators
      description: Remove authenticators from a User
      operationId: PublicApiService_DeleteAuthenticators
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeleteAuthenticatorsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_invitation":
    post:
      tags:
      - Invitations
      summary: Delete Invitation
      description: Delete an existing Invitation
      operationId: PublicApiService_DeleteInvitation
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeleteInvitationRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_oauth_providers":
    post:
      tags:
      - Users
      summary: Delete Oauth Providers
      description: Removes Oauth providers for a specified user - BETA
      operationId: PublicApiService_DeleteOauthProviders
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeleteOauthProvidersRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_policy":
    post:
      tags:
      - Policies
      summary: Delete Policy
      description: Delete an existing Policy
      operationId: PublicApiService_DeletePolicy
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeletePolicyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_private_key_tags":
    post:
      tags:
      - Private Key Tags
      summary: Delete Private Key Tags
      description: Delete Private Key Tags within an Organization
      operationId: PublicApiService_DeletePrivateKeyTags
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeletePrivateKeyTagsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_private_keys":
    post:
      tags:
      - Private Keys
      summary: Delete Private Keys
      description: Deletes private keys for an organization
      operationId: PublicApiService_DeletePrivateKeys
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeletePrivateKeysRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_sub_organization":
    post:
      tags:
      - Organizations
      summary: Delete Sub Organization
      description: Deletes a sub organization
      operationId: PublicApiService_DeleteSubOrganization
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeleteSubOrganizationRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_user_tags":
    post:
      tags:
      - User Tags
      summary: Delete User Tags
      description: Delete User Tags within an Organization
      operationId: PublicApiService_DeleteUserTags
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeleteUserTagsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_users":
    post:
      tags:
      - Users
      summary: Delete Users
      description: Delete Users within an Organization
      operationId: PublicApiService_DeleteUsers
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeleteUsersRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/delete_wallets":
    post:
      tags:
      - Wallets
      summary: Delete Wallets
      description: Deletes wallets for an organization
      operationId: PublicApiService_DeleteWallets
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1DeleteWalletsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/email_auth":
    post:
      tags:
      - User Auth
      summary: Perform Email Auth
      description: Authenticate a user via Email
      operationId: PublicApiService_EmailAuth
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1EmailAuthRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/export_private_key":
    post:
      tags:
      - Private Keys
      summary: Export Private Key
      description: Exports a Private Key
      operationId: PublicApiService_ExportPrivateKey
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1ExportPrivateKeyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/export_wallet":
    post:
      tags:
      - Wallets
      summary: Export Wallet
      description: Exports a Wallet
      operationId: PublicApiService_ExportWallet
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1ExportWalletRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/export_wallet_account":
    post:
      tags:
      - Wallets
      summary: Export Wallet Account
      description: Exports a Wallet Account
      operationId: PublicApiService_ExportWalletAccount
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1ExportWalletAccountRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/import_private_key":
    post:
      tags:
      - Private Keys
      summary: Import Private Key
      description: Imports a private key
      operationId: PublicApiService_ImportPrivateKey
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1ImportPrivateKeyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/import_wallet":
    post:
      tags:
      - Wallets
      summary: Import Wallet
      description: Imports a wallet
      operationId: PublicApiService_ImportWallet
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1ImportWalletRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/init_import_private_key":
    post:
      tags:
      - Private Keys
      summary: Init Import Private Key
      description: Initializes a new private key import
      operationId: PublicApiService_InitImportPrivateKey
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1InitImportPrivateKeyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/init_import_wallet":
    post:
      tags:
      - Wallets
      summary: Init Import Wallet
      description: Initializes a new wallet import
      operationId: PublicApiService_InitImportWallet
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1InitImportWalletRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/init_otp_auth":
    post:
      tags:
      - Users
      summary: Init OTP auth
      description: Initiate an OTP auth activity
      operationId: PublicApiService_InitOtpAuth
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1InitOtpAuthRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/init_user_email_recovery":
    post:
      tags:
      - User Recovery
      summary: Init Email Recovery
      description: Initializes a new email recovery
      operationId: PublicApiService_InitUserEmailRecovery
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1InitUserEmailRecoveryRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/oauth":
    post:
      tags:
      - Users
      summary: Oauth
      description: Authenticate a user with an Oidc token (Oauth) - BETA
      operationId: PublicApiService_Oauth
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1OauthRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/otp_auth":
    post:
      tags:
      - Users
      summary: OTP auth
      description: Authenticate a user with an OTP code sent via email or SMS
      operationId: PublicApiService_OtpAuth
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1OtpAuthRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/recover_user":
    post:
      tags:
      - User Recovery
      summary: Recover a user
      description: Completes the process of recovering a user by adding an authenticator
      operationId: PublicApiService_RecoverUser
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1RecoverUserRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/reject_activity":
    post:
      tags:
      - Consensus
      summary: Reject Activity
      description: Reject an Activity
      operationId: PublicApiService_RejectActivity
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1RejectActivityRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/remove_organization_feature":
    post:
      tags:
      - Features
      summary: Remove Organization Feature
      description: Removes an organization feature. This activity must be approved
        by the current root quorum.
      operationId: PublicApiService_RemoveOrganizationFeature
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1RemoveOrganizationFeatureRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/set_organization_feature":
    post:
      tags:
      - Features
      summary: Set Organization Feature
      description: Sets an organization feature. This activity must be approved by
        the current root quorum.
      operationId: PublicApiService_SetOrganizationFeature
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1SetOrganizationFeatureRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/sign_raw_payload":
    post:
      tags:
      - Signing
      summary: Sign Raw Payload
      description: Sign a raw payload
      operationId: PublicApiService_SignRawPayload
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1SignRawPayloadRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/sign_raw_payloads":
    post:
      tags:
      - Signing
      summary: Sign Raw Payloads
      description: Sign multiple raw payloads with the same signing parameters
      operationId: PublicApiService_SignRawPayloads
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1SignRawPayloadsRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/sign_transaction":
    post:
      tags:
      - Signing
      summary: Sign Transaction
      description: Sign a transaction
      operationId: PublicApiService_SignTransaction
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1SignTransactionRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/update_policy":
    post:
      tags:
      - Policies
      summary: Update Policy
      description: Update an existing Policy
      operationId: PublicApiService_UpdatePolicy
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1UpdatePolicyRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/update_private_key_tag":
    post:
      tags:
      - Private Key Tags
      summary: Update Private Key Tag
      description: 'Update human-readable name or associated private keys. Note that
        this activity is atomic: all of the updates will succeed at once, or all of
        them will fail.'
      operationId: PublicApiService_UpdatePrivateKeyTag
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1UpdatePrivateKeyTagRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/update_root_quorum":
    post:
      tags:
      - Organizations
      summary: Update Root Quorum
      description: Set the threshold and members of the root quorum. This activity
        must be approved by the current root quorum.
      operationId: PublicApiService_UpdateRootQuorum
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1UpdateRootQuorumRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/update_user":
    post:
      tags:
      - Users
      summary: Update User
      description: Update a User in an existing Organization
      operationId: PublicApiService_UpdateUser
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1UpdateUserRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/public/v1/submit/update_user_tag":
    post:
      tags:
      - User Tags
      summary: Update User Tag
      description: 'Update human-readable name or associated users. Note that this
        activity is atomic: all of the updates will succeed at once, or all of them
        will fail.'
      operationId: PublicApiService_UpdateUserTag
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/v1UpdateUserTagRequest"
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1ActivityResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: body
  "/tkhq/api/v1/noop-codegen-anchor":
    post:
      tags:
      - PublicApiService
      operationId: PublicApiService_NOOPCodegenAnchor
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/v1NOOPCodegenAnchorResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/rpcStatus"
components:
  schemas:
    apiApiKeyParams:
      required:
      - apiKeyName
      - publicKey
      type: object
      properties:
        apiKeyName:
          type: string
          description: Human-readable name for an API Key.
        publicKey:
          type: string
          description: The public component of a cryptographic key pair used to sign
            messages and transactions.
        expirationSeconds:
          type: string
          description: Optional window (in seconds) indicating how long the API Key
            should last.
    billingActivateBillingTierIntent:
      required:
      - productId
      type: object
      properties:
        productId:
          type: string
          description: The product that the customer wants to subscribe to.
    billingActivateBillingTierResult:
      required:
      - productId
      type: object
      properties:
        productId:
          type: string
          description: The id of the product being subscribed to.
    billingDeletePaymentMethodIntent:
      required:
      - paymentMethodId
      type: object
      properties:
        paymentMethodId:
          type: string
          description: The payment method that the customer wants to remove.
    billingDeletePaymentMethodResult:
      required:
      - paymentMethodId
      type: object
      properties:
        paymentMethodId:
          type: string
          description: The payment method that was removed.
    billingSetPaymentMethodIntent:
      required:
      - cardHolderEmail
      - cardHolderName
      - cvv
      - expiryMonth
      - expiryYear
      - number
      type: object
      properties:
        number:
          type: string
          description: The account number of the customer's credit card.
        cvv:
          type: string
          description: The verification digits of the customer's credit card.
        expiryMonth:
          type: string
          description: The month that the credit card expires.
        expiryYear:
          type: string
          description: The year that the credit card expires.
        cardHolderEmail:
          type: string
          description: The email that will receive invoices for the credit card.
        cardHolderName:
          type: string
          description: The name associated with the credit card.
    billingSetPaymentMethodIntentV2:
      required:
      - cardHolderEmail
      - cardHolderName
      - paymentMethodId
      type: object
      properties:
        paymentMethodId:
          type: string
          description: The id of the payment method that was created clientside.
        cardHolderEmail:
          type: string
          description: The email that will receive invoices for the credit card.
        cardHolderName:
          type: string
          description: The name associated with the credit card.
    billingSetPaymentMethodResult:
      required:
      - cardHolderEmail
      - cardHolderName
      - lastFour
      type: object
      properties:
        lastFour:
          type: string
          description: The last four digits of the credit card added.
        cardHolderName:
          type: string
          description: The name associated with the payment method.
        cardHolderEmail:
          type: string
          description: The email address associated with the payment method.
    datav1Tag:
      required:
      - createdAt
      - tagId
      - tagName
      - tagType
      - updatedAt
      type: object
      properties:
        tagId:
          type: string
          description: Unique identifier for a given Tag.
        tagName:
          type: string
          description: Human-readable name for a Tag.
        tagType:
          "$ref": "#/components/schemas/v1TagType"
        createdAt:
          "$ref": "#/components/schemas/externaldatav1Timestamp"
        updatedAt:
          "$ref": "#/components/schemas/externaldatav1Timestamp"
    externaldatav1Address:
      type: object
      properties:
        format:
          "$ref": "#/components/schemas/v1AddressFormat"
        address:
          type: string
    externaldatav1Credential:
      required:
      - publicKey
      - type
      type: object
      properties:
        publicKey:
          type: string
          description: The public component of a cryptographic key pair used to sign
            messages and transactions.
        type:
          "$ref": "#/components/schemas/v1CredentialType"
    externaldatav1Quorum:
      required:
      - threshold
      - userIds
      type: object
      properties:
        threshold:
          type: integer
          description: Count of unique approvals required to meet quorum.
          format: int32
        userIds:
          type: array
          description: Unique identifiers of quorum set members.
          items:
            type: string
    externaldatav1Timestamp:
      required:
      - nanos
      - seconds
      type: object
      properties:
        seconds:
          type: string
        nanos:
          type: string
    immutableactivityv1Address:
      type: object
      properties:
        format:
          "$ref": "#/components/schemas/v1AddressFormat"
        address:
          type: string
    protobufAny:
      type: object
      properties:
        "@type":
          type: string
      additionalProperties:
        type: object
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            "$ref": "#/components/schemas/protobufAny"
    v1AcceptInvitationIntent:
      required:
      - authenticator
      - invitationId
      - userId
      type: object
      properties:
        invitationId:
          type: string
          description: Unique identifier for a given Invitation object.
        userId:
          type: string
          description: Unique identifier for a given User.
        authenticator:
          "$ref": "#/components/schemas/v1AuthenticatorParams"
    v1AcceptInvitationIntentV2:
      required:
      - authenticator
      - invitationId
      - userId
      type: object
      properties:
        invitationId:
          type: string
          description: Unique identifier for a given Invitation object.
        userId:
          type: string
          description: Unique identifier for a given User.
        authenticator:
          "$ref": "#/components/schemas/v1AuthenticatorParamsV2"
    v1AcceptInvitationResult:
      required:
      - invitationId
      - userId
      type: object
      properties:
        invitationId:
          type: string
          description: Unique identifier for a given Invitation.
        userId:
          type: string
          description: Unique identifier for a given User.
    v1AccessType:
      type: string
      enum:
      - ACCESS_TYPE_WEB
      - ACCESS_TYPE_API
      - ACCESS_TYPE_ALL
    v1Activity:
      required:
      - canApprove
      - canReject
      - createdAt
      - fingerprint
      - id
      - intent
      - organizationId
      - result
      - status
      - type
      - updatedAt
      - votes
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for a given Activity object.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        status:
          "$ref": "#/components/schemas/v1ActivityStatus"
        type:
          "$ref": "#/components/schemas/v1ActivityType"
        intent:
          "$ref": "#/components/schemas/v1Intent"
        result:
          "$ref": "#/components/schemas/v1Result"
        votes:
          type: array
          description: A list of objects representing a particular User's approval
            or rejection of a Consensus request, including all relevant metadata.
          items:
            "$ref": "#/components/schemas/v1Vote"
        fingerprint:
          type: string
          description: An artifact verifying a User's action.
        canApprove:
          type: boolean
        canReject:
          type: boolean
        createdAt:
          "$ref": "#/components/schemas/externaldatav1Timestamp"
        updatedAt:
          "$ref": "#/components/schemas/externaldatav1Timestamp"
        failure:
          "$ref": "#/components/schemas/rpcStatus"
    v1ActivityResponse:
      required:
      - activity
      type: object
      properties:
        activity:
          "$ref": "#/components/schemas/v1Activity"
    v1ActivityStatus:
      type: string
      enum:
      - ACTIVITY_STATUS_CREATED
      - ACTIVITY_STATUS_PENDING
      - ACTIVITY_STATUS_COMPLETED
      - ACTIVITY_STATUS_FAILED
      - ACTIVITY_STATUS_CONSENSUS_NEEDED
      - ACTIVITY_STATUS_REJECTED
    v1ActivityType:
      type: string
      enum:
      - ACTIVITY_TYPE_CREATE_API_KEYS
      - ACTIVITY_TYPE_CREATE_USERS
      - ACTIVITY_TYPE_CREATE_PRIVATE_KEYS
      - ACTIVITY_TYPE_SIGN_RAW_PAYLOAD
      - ACTIVITY_TYPE_CREATE_INVITATIONS
      - ACTIVITY_TYPE_ACCEPT_INVITATION
      - ACTIVITY_TYPE_CREATE_POLICY
      - ACTIVITY_TYPE_DISABLE_PRIVATE_KEY
      - ACTIVITY_TYPE_DELETE_USERS
      - ACTIVITY_TYPE_DELETE_API_KEYS
      - ACTIVITY_TYPE_DELETE_INVITATION
      - ACTIVITY_TYPE_DELETE_ORGANIZATION
      - ACTIVITY_TYPE_DELETE_POLICY
      - ACTIVITY_TYPE_CREATE_USER_TAG
      - ACTIVITY_TYPE_DELETE_USER_TAGS
      - ACTIVITY_TYPE_CREATE_ORGANIZATION
      - ACTIVITY_TYPE_SIGN_TRANSACTION
      - ACTIVITY_TYPE_APPROVE_ACTIVITY
      - ACTIVITY_TYPE_REJECT_ACTIVITY
      - ACTIVITY_TYPE_DELETE_AUTHENTICATORS
      - ACTIVITY_TYPE_CREATE_AUTHENTICATORS
      - ACTIVITY_TYPE_CREATE_PRIVATE_KEY_TAG
      - ACTIVITY_TYPE_DELETE_PRIVATE_KEY_TAGS
      - ACTIVITY_TYPE_SET_PAYMENT_METHOD
      - ACTIVITY_TYPE_ACTIVATE_BILLING_TIER
      - ACTIVITY_TYPE_DELETE_PAYMENT_METHOD
      - ACTIVITY_TYPE_CREATE_POLICY_V2
      - ACTIVITY_TYPE_CREATE_POLICY_V3
      - ACTIVITY_TYPE_CREATE_API_ONLY_USERS
      - ACTIVITY_TYPE_UPDATE_ROOT_QUORUM
      - ACTIVITY_TYPE_UPDATE_USER_TAG
      - ACTIVITY_TYPE_UPDATE_PRIVATE_KEY_TAG
      - ACTIVITY_TYPE_CREATE_AUTHENTICATORS_V2
      - ACTIVITY_TYPE_CREATE_ORGANIZATION_V2
      - ACTIVITY_TYPE_CREATE_USERS_V2
      - ACTIVITY_TYPE_ACCEPT_INVITATION_V2
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V2
      - ACTIVITY_TYPE_UPDATE_ALLOWED_ORIGINS
      - ACTIVITY_TYPE_CREATE_PRIVATE_KEYS_V2
      - ACTIVITY_TYPE_UPDATE_USER
      - ACTIVITY_TYPE_UPDATE_POLICY
      - ACTIVITY_TYPE_SET_PAYMENT_METHOD_V2
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V3
      - ACTIVITY_TYPE_CREATE_WALLET
      - ACTIVITY_TYPE_CREATE_WALLET_ACCOUNTS
      - ACTIVITY_TYPE_INIT_USER_EMAIL_RECOVERY
      - ACTIVITY_TYPE_RECOVER_USER
      - ACTIVITY_TYPE_SET_ORGANIZATION_FEATURE
      - ACTIVITY_TYPE_REMOVE_ORGANIZATION_FEATURE
      - ACTIVITY_TYPE_SIGN_RAW_PAYLOAD_V2
      - ACTIVITY_TYPE_SIGN_TRANSACTION_V2
      - ACTIVITY_TYPE_EXPORT_PRIVATE_KEY
      - ACTIVITY_TYPE_EXPORT_WALLET
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V4
      - ACTIVITY_TYPE_EMAIL_AUTH
      - ACTIVITY_TYPE_EXPORT_WALLET_ACCOUNT
      - ACTIVITY_TYPE_INIT_IMPORT_WALLET
      - ACTIVITY_TYPE_IMPORT_WALLET
      - ACTIVITY_TYPE_INIT_IMPORT_PRIVATE_KEY
      - ACTIVITY_TYPE_IMPORT_PRIVATE_KEY
      - ACTIVITY_TYPE_CREATE_POLICIES
      - ACTIVITY_TYPE_SIGN_RAW_PAYLOADS
      - ACTIVITY_TYPE_CREATE_READ_ONLY_SESSION
      - ACTIVITY_TYPE_CREATE_OAUTH_PROVIDERS
      - ACTIVITY_TYPE_DELETE_OAUTH_PROVIDERS
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V5
      - ACTIVITY_TYPE_OAUTH
      - ACTIVITY_TYPE_CREATE_API_KEYS_V2
      - ACTIVITY_TYPE_CREATE_READ_WRITE_SESSION
      - ACTIVITY_TYPE_EMAIL_AUTH_V2
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V6
      - ACTIVITY_TYPE_DELETE_PRIVATE_KEYS
      - ACTIVITY_TYPE_DELETE_WALLETS
      - ACTIVITY_TYPE_CREATE_READ_WRITE_SESSION_V2
      - ACTIVITY_TYPE_DELETE_SUB_ORGANIZATION
      - ACTIVITY_TYPE_INIT_OTP_AUTH
      - ACTIVITY_TYPE_OTP_AUTH
      - ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V7
    v1AddressFormat:
      type: string
      enum:
      - ADDRESS_FORMAT_UNCOMPRESSED
      - ADDRESS_FORMAT_COMPRESSED
      - ADDRESS_FORMAT_ETHEREUM
      - ADDRESS_FORMAT_SOLANA
      - ADDRESS_FORMAT_COSMOS
      - ADDRESS_FORMAT_TRON
      - ADDRESS_FORMAT_SUI
      - ADDRESS_FORMAT_APTOS
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2PKH
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2SH
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2WPKH
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2WSH
      - ADDRESS_FORMAT_BITCOIN_MAINNET_P2TR
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2PKH
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2SH
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2WPKH
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2WSH
      - ADDRESS_FORMAT_BITCOIN_TESTNET_P2TR
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2PKH
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2SH
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2WPKH
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2WSH
      - ADDRESS_FORMAT_BITCOIN_SIGNET_P2TR
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2PKH
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2SH
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2WPKH
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2WSH
      - ADDRESS_FORMAT_BITCOIN_REGTEST_P2TR
      - ADDRESS_FORMAT_SEI
      - ADDRESS_FORMAT_XLM
      - ADDRESS_FORMAT_DOGE_MAINNET
      - ADDRESS_FORMAT_DOGE_TESTNET
      - ADDRESS_FORMAT_TON_V3R2
      - ADDRESS_FORMAT_TON_V4R2
    v1ApiKey:
      required:
      - apiKeyId
      - apiKeyName
      - createdAt
      - credential
      - updatedAt
      type: object
      properties:
        credential:
          "$ref": "#/components/schemas/externaldatav1Credential"
        apiKeyId:
          type: string
          description: Unique identifier for a given API Key.
        apiKeyName:
          type: string
          description: Human-readable name for an API Key.
        createdAt:
          "$ref": "#/components/schemas/externaldatav1Timestamp"
        updatedAt:
          "$ref": "#/components/schemas/externaldatav1Timestamp"
        expirationSeconds:
          type: string
          description: Optional window (in seconds) indicating how long the API Key
            should last.
          format: uint64
    v1ApiKeyCurve:
      type: string
      enum:
      - API_KEY_CURVE_P256
      - API_KEY_CURVE_SECP256K1
      - API_KEY_CURVE_ED25519
    v1ApiKeyParamsV2:
      required:
      - apiKeyName
      - curveType
      - publicKey
      type: object
      properties:
        apiKeyName:
          type: string
          description: Human-readable name for an API Key.
        publicKey:
          type: string
          description: The public component of a cryptographic key pair used to sign
            messages and transactions.
        curveType:
          "$ref": "#/components/schemas/v1ApiKeyCurve"
        expirationSeconds:
          type: string
          description: Optional window (in seconds) indicating how long the API Key
            should last.
    v1ApiOnlyUserParams:
      required:
      - apiKeys
      - userName
      - userTags
      type: object
      properties:
        userName:
          type: string
          description: The name of the new API-only User.
        userEmail:
          type: string
          description: The email address for this API-only User (optional).
        userTags:
          type: array
          description: A list of tags assigned to the new API-only User.
          items:
            type: string
        apiKeys:
          type: array
          description: A list of API Key parameters.
          items:
            "$ref": "#/components/schemas/apiApiKeyParams"
    v1ApproveActivityIntent:
      required:
      - fingerprint
      type: object
      properties:
        fingerprint:
          type: string
          description: An artifact verifying a User's action.
    v1ApproveActivityRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_APPROVE_ACTIVITY
        timestampMs:
          type: string
          description: Timestamp (in milliseconds) of the request, used to verify
            liveness of user requests.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          "$ref": "#/components/schemas/v1ApproveActivityIntent"
    v1Attestation:
      required:
      - attestationObject
      - clientDataJson
      - credentialId
      - transports
      type: object
      properties:
        credentialId:
          type: string
          description: The cbor encoded then base64 url encoded id of the credential.
        clientDataJson:
          type: string
          description: A base64 url encoded payload containing metadata about the
            signing context and the challenge.
        attestationObject:
          type: string
          description: A base64 url encoded payload containing authenticator data
            and any attestation the webauthn provider chooses.
        transports:
          type: array
          description: The type of authenticator transports.
          items:
            "$ref": "#/components/schemas/v1AuthenticatorTransport"
    v1Authenticator:
      required:
      - aaguid
      - attestationType
      - authenticatorId
      - authenticatorName
      - createdAt
      - credential
      - credentialId
      - model
      - transports
      - updatedAt
      type: object
      properties:
        transports:
          type: array
          description: Types of transports that may be used by an Authenticator (e.g.,
            USB, NFC, BLE).
          items:
            "$ref": "#/components/schemas/v1AuthenticatorTransport"
        attestationType:
          type: string
        aaguid:
          type: string
          description: Identifier indicating the type of the Security Key.
        credentialId:
          type: string
          description: Unique identifier for a WebAuthn credential.
        model:
          type: string
          description: The type of Authenticator device.
        credential:
          "$ref": "#/components/schemas/externaldatav1Credential"
        authenticatorId:
          type: string
          description: Unique identifier for a given Authenticator.
        authenticatorName:
          type: string
          description: Human-readable name for an Authenticator.
        createdAt:
          "$ref": "#/components/schemas/externaldatav1Timestamp"
        updatedAt:
          "$ref": "#/components/schemas/externaldatav1Timestamp"
    v1AuthenticatorAttestationResponse:
      required:
      - attestationObject
      - clientDataJson
      type: object
      properties:
        clientDataJson:
          type: string
        attestationObject:
          type: string
        transports:
          type: array
          items:
            "$ref": "#/components/schemas/v1AuthenticatorTransport"
        authenticatorAttachment:
          type: string
          nullable: true
          enum:
          - cross-platform
          - platform
    v1AuthenticatorParams:
      required:
      - attestation
      - authenticatorName
      - challenge
      - userId
      type: object
      properties:
        authenticatorName:
          type: string
          description: Human-readable name for an Authenticator.
        userId:
          type: string
          description: Unique identifier for a given User.
        attestation:
          "$ref": "#/components/schemas/v1PublicKeyCredentialWithAttestation"
        challenge:
          type: string
          description: Challenge presented for authentication purposes.
    v1AuthenticatorParamsV2:
      required:
      - attestation
      - authenticatorName
      - challenge
      type: object
      properties:
        authenticatorName:
          type: string
          description: Human-readable name for an Authenticator.
        challenge:
          type: string
          description: Challenge presented for authentication purposes.
        attestation:
          "$ref": "#/components/schemas/v1Attestation"
    v1AuthenticatorTransport:
      type: string
      enum:
      - AUTHENTICATOR_TRANSPORT_BLE
      - AUTHENTICATOR_TRANSPORT_INTERNAL
      - AUTHENTICATOR_TRANSPORT_NFC
      - AUTHENTICATOR_TRANSPORT_USB
      - AUTHENTICATOR_TRANSPORT_HYBRID
    v1Config:
      type: object
      properties:
        features:
          type: array
          items:
            "$ref": "#/components/schemas/v1Feature"
        quorum:
          "$ref": "#/components/schemas/externaldatav1Quorum"
    v1CreateApiKeysIntent:
      required:
      - apiKeys
      - userId
      type: object
      properties:
        apiKeys:
          type: array
          description: A list of API Keys.
          items:
            "$ref": "#/components/schemas/apiApiKeyParams"
        userId:
          type: string
          description: Unique identifier for a given User.
    v1CreateApiKeysIntentV2:
      required:
      - apiKeys
      - userId
      type: object
      properties:
        apiKeys:
          type: array
          description: A list of API Keys.
          items:
            "$ref": "#/components/schemas/v1ApiKeyParamsV2"
        userId:
          type: string
          description: Unique identifier for a given User.
    v1CreateApiKeysRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_API_KEYS_V2
        timestampMs:
          type: string
          description: Timestamp (in milliseconds) of the request, used to verify
            liveness of user requests.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          "$ref": "#/components/schemas/v1CreateApiKeysIntentV2"
    v1CreateApiKeysResult:
      required:
      - apiKeyIds
      type: object
      properties:
        apiKeyIds:
          type: array
          description: A list of API Key IDs.
          items:
            type: string
    v1CreateApiOnlyUsersIntent:
      required:
      - apiOnlyUsers
      type: object
      properties:
        apiOnlyUsers:
          type: array
          description: A list of API-only Users to create.
          items:
            "$ref": "#/components/schemas/v1ApiOnlyUserParams"
    v1CreateApiOnlyUsersRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_API_ONLY_USERS
        timestampMs:
          type: string
          description: Timestamp (in milliseconds) of the request, used to verify
            liveness of user requests.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          "$ref": "#/components/schemas/v1CreateApiOnlyUsersIntent"
    v1CreateApiOnlyUsersResult:
      required:
      - userIds
      type: object
      properties:
        userIds:
          type: array
          description: A list of API-only User IDs.
          items:
            type: string
    v1CreateAuthenticatorsIntent:
      required:
      - authenticators
      - userId
      type: object
      properties:
        authenticators:
          type: array
          description: A list of Authenticators.
          items:
            "$ref": "#/components/schemas/v1AuthenticatorParams"
        userId:
          type: string
          description: Unique identifier for a given User.
    v1CreateAuthenticatorsIntentV2:
      required:
      - authenticators
      - userId
      type: object
      properties:
        authenticators:
          type: array
          description: A list of Authenticators.
          items:
            "$ref": "#/components/schemas/v1AuthenticatorParamsV2"
        userId:
          type: string
          description: Unique identifier for a given User.
    v1CreateAuthenticatorsRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_AUTHENTICATORS_V2
        timestampMs:
          type: string
          description: Timestamp (in milliseconds) of the request, used to verify
            liveness of user requests.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          "$ref": "#/components/schemas/v1CreateAuthenticatorsIntentV2"
    v1CreateAuthenticatorsResult:
      required:
      - authenticatorIds
      type: object
      properties:
        authenticatorIds:
          type: array
          description: A list of Authenticator IDs.
          items:
            type: string
    v1CreateInvitationsIntent:
      required:
      - invitations
      type: object
      properties:
        invitations:
          type: array
          description: A list of Invitations.
          items:
            "$ref": "#/components/schemas/v1InvitationParams"
    v1CreateInvitationsRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_INVITATIONS
        timestampMs:
          type: string
          description: Timestamp (in milliseconds) of the request, used to verify
            liveness of user requests.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          "$ref": "#/components/schemas/v1CreateInvitationsIntent"
    v1CreateInvitationsResult:
      required:
      - invitationIds
      type: object
      properties:
        invitationIds:
          type: array
          description: A list of Invitation IDs
          items:
            type: string
    v1CreateOauthProvidersIntent:
      required:
      - oauthProviders
      - userId
      type: object
      properties:
        userId:
          type: string
          description: The ID of the User to add an Oauth provider to
        oauthProviders:
          type: array
          description: A list of Oauth providers.
          items:
            "$ref": "#/components/schemas/v1OauthProviderParams"
    v1CreateOauthProvidersRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_OAUTH_PROVIDERS
        timestampMs:
          type: string
          description: Timestamp (in milliseconds) of the request, used to verify
            liveness of user requests.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          "$ref": "#/components/schemas/v1CreateOauthProvidersIntent"
    v1CreateOauthProvidersResult:
      required:
      - providerIds
      type: object
      properties:
        providerIds:
          type: array
          description: A list of unique identifiers for Oauth Providers
          items:
            type: string
    v1CreateOrganizationIntent:
      required:
      - organizationName
      - rootAuthenticator
      - rootEmail
      type: object
      properties:
        organizationName:
          type: string
          description: Human-readable name for an Organization.
        rootEmail:
          type: string
          description: The root user's email address.
        rootAuthenticator:
          "$ref": "#/components/schemas/v1AuthenticatorParams"
        rootUserId:
          type: string
          description: Unique identifier for the root user object.
    v1CreateOrganizationIntentV2:
      required:
      - organizationName
      - rootAuthenticator
      - rootEmail
      type: object
      properties:
        organizationName:
          type: string
          description: Human-readable name for an Organization.
        rootEmail:
          type: string
          description: The root user's email address.
        rootAuthenticator:
          "$ref": "#/components/schemas/v1AuthenticatorParamsV2"
        rootUserId:
          type: string
          description: Unique identifier for the root user object.
    v1CreateOrganizationResult:
      required:
      - organizationId
      type: object
      properties:
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
    v1CreatePoliciesIntent:
      required:
      - policies
      type: object
      properties:
        policies:
          type: array
          description: An array of policy intents to be created.
          items:
            "$ref": "#/components/schemas/v1CreatePolicyIntentV3"
    v1CreatePoliciesRequest:
      required:
      - organizationId
      - parameters
      - timestampMs
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - ACTIVITY_TYPE_CREATE_POLICIES
        timestampMs:
          type: string
          description: Timestamp (in milliseconds) of the request, used to verify
            liveness of user requests.
        organizationId:
          type: string
          description: Unique identifier for a given Organization.
        parameters:
          "$ref": "#/components/schemas/v1CreatePoliciesIntent"
    v1CreatePoliciesResult:
      required:
      - policyIds
      type: object
      properties:
        policyIds:
          type: array
[...]
